.row.foot
    .container
        .col-md-4
            img(alt='140x140', src='img/bottom_logo.png')
            p
                span.copy ©方橙 京ICP备案 13048249号
        .col-md-4
            p
                span.foot_text_tit 联系我们
                span 电话：010-65307380
                span 邮箱：hi@fangcheng.cn
                span 地址：北京市朝阳区建国路89号华贸公寓商务楼4号楼2305室
        //.col-md-4
            span.qrcode
                img(alt='70x70', src='img/bottom_QRcode.png')
            p
                span.foot_text_tit 关注我们
                span 官方微博：@方橙
                span 官方微信：搜索公众号「方橙」
                span 或扫一扫二维码直接关注我们
.new_foot
    .row
        .foot_content.clearfix
            .foot-media.foot-media-4.foot-log
                img(alt='140x140', src='img/bottom_logo.png')
            .foot-media.foot-media-8
                p.foot_title 联系我们
                p
                    span 电话：010-65307380
                    span 邮箱：hi@fangcheng.cn
                    span 地址：北京市朝阳区建国路89号华贸公寓商务楼4号楼2305室
    .row.foot-media-attention
        .foot_content.clearfix
            .foot-media.foot-media-12.copy-box.text-center
                p
                    span.copy ©方橙 京ICP备案 13048249号