doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width,height=device-height,maximum-scale=1.0,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0')
    meta(http-equiv="cleartype" content="on")
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name='description', content='')
    meta(name='author', content='')
    title 方橙-最专业的招商选址大数据平台

    link(href='/css/vendors/bootstrap.min.css', rel='stylesheet')
    link(href="/css/vendors/jquery-ui.min.css" rel="stylesheet")
    link(href='/css/public.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/js/vendors/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    // Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/img/favicon.png')
    script(type='text/javascript').
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?77718fdd97601637753f5353b2deb876";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();

      //- var agent = window.navigator.userAgent.toLowerCase();
      //- if (agent.indexOf('ipad') >= 0 || agent.indexOf('ipone') >= 0 || agent.indexOf('android') >= 0 || agent.indexOf('windows phone') >= 0) {
      //-   document.write('<script src="/js/zepto-1.1.6.min.js">\x3Cscript>');
      //- } else {
      //-   document.write('<script src="/js/jquery-1.9.1.min.js">\x3Cscript>');
      //- }

